.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 6px;
  padding: 2rem 4rem;
}

.title {
  margin-bottom: 16px;
}

.column {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  width: 50%;
  padding: 2rem;
  border-radius: 6px;
}

.column:first-of-type {
  margin-right: 8px;
  border: 1px solid var(--light-gray);
}

.column:nth-child(2) {
  padding: 0rem 2rem;
  background-color: transparent;
  overflow: auto;
  max-height: calc(100vh - 4rem);
  padding-right: 4px;
}

.search {
  border-radius: 6px;
  border-color: rgb(231, 231, 231);
  color: var(--dark-gray);
  height: 30px;
  margin-bottom: 6px;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  font-size: 14px;
}

.search:focus {
  outline: none;
}

.map {
  border: 0;
  margin: 8px 0;
  border-radius: 6px;
}