.container {
  display: flex;
  flex-direction: column;
}
 
.search {
  border-radius: 10px;
  border-color: rgb(154, 182, 235);
  height: 30px;
  margin: 0px 0 6px;
  border-width: medium;
  border-style: solid;
}

.button{
  height: 80%;
  color:#97b6eb;
  cursor: pointer;
  align-items: center;
}

.date {
  color: #6F7D88;
  font-size: 0.8rem;
  position: absolute;
  right: 12%;
}

.map {
  border: 0;
  margin: 8px 0;
  border-radius: 6px;
}

.tweet {
  padding: 12px;
  background-color: white;
  border-radius: 6px;
  border-color: rgb(154, 182, 235);
  margin: 0px 0 6px;
  box-shadow: 2px 2px 2px rgb(228, 228, 228);
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  font-weight: bold;
  margin-left: 12px;
  font-size: 1.1rem;
}

.userScreenName {
  color: gray;
  margin-left: 8px;
  font-size: 0.9rem;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tweetText {
  padding: 12px 0px;
}

.interactions {
  color: #6F7D88;
  display: flex;
  align-items: center;
}

.interaction {
  margin: 4px 12px 4px 24px;
  position: relative;
}

.icon {
  position: absolute;
  left: -24px;
  bottom: 0px;
  font-size: 1.2rem;
}


